<head>
	<title>Disclosure_detail.html</title>
	{% load staticfiles %}
	<link rel = "stylesheet" type="text/css" href={% static "css/Disclosure_detail.css" %} />

</head>
	
	<div id="wrap">
		<div id="box">
			<div id="all_section">
				
				<div id="company_info">
					<h2 id=name>{{industry.title}}</h2> 
					<h3 id=num>{{industry.company.Ticker_Number}}</h3>
					<a href="{% url 'Disclosure:down' industry.id %} " target="_blank"><img id="pdf_logo" src="{% static "photo/pdf_icon.png" %}"></a>
				</div>
				
				<div id="Disclosure" class="section">
					{{industry.text|safe}}
				</div>
			</div>
		</div>
	</div>




