{% extends "base.html" %}

{% block title %}factbook.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/Disclosure_samsung.css" %}{% endblock %}

{% block content %}

		<form id="searchbox" action="{% url 'search2' %}" method="post"> {% csrf_token %}
		
				<input id = id_search_word type="text" placeholder="  Type In Company Name or Ticker" maxlength="100" required="True" name="search_word">
			
			<input id="submit" type="image" src="{% static "photo/search.png" %}">
		</form>
	
	<div id="wrap">
		<div id="box">
			<div id="aside">
				<nav id="asideMenu" >
					<ul>  
						<li><a class="menuLink"  href="{% url 'factbook:factbook_more' comp_name.id %}">Factbook</a></li> 
						<li><a class="menuLink"  href="{% url 'Disclosure:more' comp_name.id %}">Disclosures</a></li> 
						<li><a class="menuLink"  href="{% url 'Analyst:more' comp_name.id %}">Analyst Report</a></li> 
						<li><a class="menuLink" href="{% url 'Issue:more' comp_name.id %}">Industry Info</a></li>
						<li><a class="menuLink" href="{% url 'IRLink:more' comp_name.id %}">IR Link</a></li>
					</ul> 
				</nav>
			</div>

			<div id="all_section">
				
				<div id="company_info">

					<h2 id=name>{{comp_name.title}}</h2> 
					<h3 id=num>{{comp_name.Ticker_Number}}</h3>

				</div>
				
				<div id="Disclosure" class="section">
					<a class="menu_title" href="">Disclosure</a>
					<table class="subtitle">
						<tbody>
						{% load el_pagination_tags %}
						{% paginate sch_dis %}	
						{% for dis in sch_dis %}
							<tr>
								<td class=bulletin><a href="{% url 'Disclosure:detail' dis.id %}" target="_blank"> {{dis.title}}</a></td>
								<td class=date>{{dis.created_date}}</td>
							</tr>
						{% endfor %}
						
						</tbody>
					</table>
				</div>
				<div id = "paging">				
				{% show_pages %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}


