<head>
	<title>down.html</title>
	{% load staticfiles %}
	<link rel = "stylesheet" type="text/css" href={% static "css/down.css" %} />

</head>
		
<div id = "wrap">
	<div id = "box">
		<div id = "Avail_Resource">		
			<p>Available Resources</p>
		</div>
		<div id = "item_list">
			<ul>
			{% for item in list %}
			<li><a href="{% url 'Disclosure:item' item.id %}">{{ item.company.title }} - ${{ item.price|floatformat:2 }}</a></li>
			{% endfor %}
			</ul>
		</div>
		<div id = "your_prof">
			<a href="/accounts/profile">Your profile</a>
		</div>
</div>
