@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{
	font-family: 'Quicksand', serif;
	width: 960px;
	/*margin: 0 auto;*/
}
/*-------------------------------헤더부분--------------------------------*/
#header{
	position: relative;
	width: 300px;
	height: 220px;

}
#logo{
	width: 232.5px;
	position: absolute;
	left: 100px;
	top: 67px;
}
#topMenu{
	position: absolute;
	left: 392px;
	top: 80px;
	width: 1150px;
	height: 30px;
}
#topMenu ul li{
	list-style: none;
	color: #000000;
	float: left;
	text-align :center;
}
#topMenu .menuLink:hover {
	font-weight: bold;
}
#topMenu .menuLink{
	text-decoration: none;

	color: #000000;

	padding: 0px 100px 0px 0px;
	font-size: 14px;
}
#LOGIN{
	background-color: #31D9B8;
  	color: #ffffff;
  	position: absolute;
  	left: 1666px;
  	top:78px;
  }
  #SIGN_IN{
  	background-color: #ffffff;
  	color: #95989A;
  	border-style:double;
  	border-width: 1px;
  	border-color: #95989A;
  	position: absolute;
  	left: 1750px;
  	top:78px;
  }
#CUR_NAME{
	background-color: #ffffff;
  	color: #31D9B8;
	margin: 3px 0 0 0;
  	position: absolute;
  	left: 1495px;
  	top: 78px;
	font-size: 20px;
}
#LOGOUT{
	background-color: #31D9B8;
  	color: #ffffff;
	width: 80px;
  	position: absolute;
  	left: 1580px;
  	top:78px;
}
#PASSWORD_CHANGE{
	background-color: #ffffff;
  	color: #95989A;
	width: 150px;
  	border-style:double;
  	border-width: 1px;
  	border-color: #95989A;
  	position: absolute;
  	left: 1675px;
  	top:78px;
}
  .login_sign{
  	appearance: none;
  	box-shadow: none;
  	border:0;
  	border-radius: 22px;

  	color: #ffffff;
  	font-weight: bold;
  	width: 75px;
  	height: 30px;
  	font-size: 14px;
  }
  .logout_sign{
  	appearance: none;
  	box-shadow: none;
  	border:0;
  	border-radius: 22px;

  	color: #ffffff;
  	font-weight: bold;
  	width: 70px;
  	height: 30px;
  	font-size: 14px;
  }

  #searchbox{
  	padding: 0px;
  	position: absolute;
  	left: 392px;
  	top: 138px;
  	height: 48px;
  }
  #id_search_word{
  	border-radius: 24px;
  	width: 600px;
  	height: 48px;
  	outline: 0;
  	border:0px;
  	border-style: none;
  	background-color: #f4f4f4;
  	color: #7c7c7c;
  	font-size: 14px;

  }
  #submit{
  	background-color: #31D9B8;
  	color: #ffffff;
  	width: 130px;
  	padding: 12px;
  	font-size: 20px;
  	border-radius: 24px;
  	border:0px;
  	border-style: none;
  	position: absolute;
  	left: 628px;
    top:0px;
  }
/*-------------------------저작권부분-------------------------------*/
#footer{
	position: relative;
	height: 328px;
	width: 1920px;
	background-color: #6e6e6e;
}

#set{
	height: 270px;
	width: 1820px;
	position: absolute;
	left: 50px;
	color: #ffffff;
	border-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
}

#foot_content{
	position: absolute;
	left: 1530px;
	top: 50px;

}


#foot_title{
	padding-bottom:28px;
	font-size: 16px;
	color:#ffffff;
}

#email_logo{
	width: 30px;
	position: absolute;
	left: -40px;
	top: -7px;
}

#phone_logo{
	width: 30px;
	position: absolute;
	left: -40px;
	top: 35px;
}

#placeholder_logo{
	width: 30px;
	position: absolute;
	left: -40px;
	top: 85px;
}

#copy{
	position: absolute;
	top: 295px;
	left: 500px;

}
