@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
	font-family: 'Quicksand', serif;
	width: 1920px;
	height: 1426px;
	/*margin: 0 auto;*/
}
h1{
	font-weight: bold;
}
/* 링크에서 밑줄 없애기 */
a{ text-decoration:none; 
	color: #9d9d9d;
}

/* 마우스 지나갈 때만 삭제 + 강제로 없애기 */
a:hover { text-decoration:none !important;
	color: #9d9d9d;
 }
 
/*-------------------------콘텐츠---------------------------------*/
#wrap{
	overflow: hidden;
	width: 1920px;
	height: 1100px;
	background-color: #f5f5f5;
	position: relative;
	box-shadow: 0 2px 5px silver inset;
}
#box{
	position: absolute;
	top: 42px;
	left: 90px;
	width: 1224px;
	height: 1000px;
	box-shadow : 2px 2px 10px silver;
}

/*-------------------------Search---------------------------------*/
 #searchbox{
  	padding: 0px;
  	position: absolute;
  	left: 392px;
  	top: 138px;
  	height: 48px;
  }
  #id_search_word{
  	border-radius: 24px;
  	width: 600px;
  	height: 48px;
  	outline: 0;
  	border:0px;
  	border-style: none;
  	background-color: #f4f4f4;
  	color: #7c7c7c;
  	font-size: 14px;

  }
  #submit{
  	background-color: #31D9B8;
  	color: #ffffff;
  	width: 130px;
  	padding: 12px;
  	font-size: 20px;
  	border-radius: 24px;
  	border:0px;
  	border-style: none;
  	position: absolute;
  	left: 628px;
    top:0px;
  }


/*---------------------------게시판의 메뉴부분이요------------------*/
#aside{
	position: absolute;
	top: 0px;
	left: 0px;
	
	height: 995px;
	
	
	background-color: #ffffff;
	width: 279px;	
	float: left;

	border-style: solid;
	border-top-width: 5px;
	border-top-color: #31D9B8;

	
	border-right-width:5px;
	border-right-color: #f2f2f2;


}

#asideMenu{
	position: absolute;
	left: 55px;
	top: 0px;
	height: 30px;

	
}
#asideMenu ul li{
	list-style: none;
	color: #000000;
	
	margin: 70px 0px 0px 0px;

	text-align :center;
}
#asideMenu .menuLink:hover {
	font-weight: bold;
}
#asideMenu .menuLink{
	text-decoration: none;

	color: #3ead94;

	margin: 0px 0px 0px 0px;
	font-size: 21px;
}

/*---------------------------게시판의 메뉴부분 끝이요--------------------*/

/*------------------------게시판부분-----------------*/
#all_section{

	position: absolute;
	top: 0px;
	left: 284px;
	
	height: 1000px;
	float: left;
	
	background-color: #ffffff;
	width: 940px;
	
	

}

#company_info{
	position: absolute;
	left: 62px;
	top:58px;
	
	
}
#name{
	float: left;
	font-size: 33pt;
	color: #6e6e6e;
	font-family: 'Quicksand', serif;
}
#num{
	position: relative;
	top: 22px;
	left: 8px;
	
	float: left;

	font-size: 9pt;

}
/*팩트북 날짜 움직이는 부분*/
#date{
	position: absolute;
	left: 62px;
	top: 157px;
	width: 816px;
	height: 40px;

	border-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d9d9d9;


}
.date_font{
	font-size: 21pt;
	font-weight:bold;
	color: #31D9B8;
}



/*--------게시판 메뉴들----------*/

.section{
	position: absolute;
	margin: 55px 0 0 0;
	width: 300px;
	height: 200px;

}


.menu_title{
	position: absolute;
	font-size: 22px;
	padding: 0 0 15px 0;
	font-weight: bold;
	color: #6E6E6E;
	font-family: 'Quicksand', serif;

}
.subtitle{
	color: #6e6e6e;
	position: absolute;
	top: 40px;

}
td{
	padding-bottom: 14px;
	color: #6e6e6e;
	font-size: 13px;
}
#Corporate_Overview{
	position: absolute;
	left: 62px;
	top: 170px;
}
#Risk_Analysis{
	position: absolute;
	left: 62px;
	top: 400px;
}
#Governance{
	position: absolute;
	left: 62px;
	top: 630px;
}
#Businness_and_Operation{
	position: absolute;
	left: 470px;
	top: 170px;
}
#Financials{
	position: absolute;
	left: 470px;
	top: 400px;
}
#Affliates{
	position: absolute;
	left: 470px;
	top: 690px;
}
#Other_Invesetment{
	position: absolute;
	left: 470px;
	top: 740px;
}
#Download{
	position: absolute;
	left: 470px;
	top: 790px;
}
/*-----------------------------*/

#business{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 30px;
	left: 0px;
	font: inherit;
}

#history{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 60px;
	left: 0px;
	font: inherit;
}


#capital{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 90px;
	left: 0px;
	font: inherit;
}

#right{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 120px;
	left: 0px;
	font: inherit;
}

#Dividend{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 150px;
	left: 0px;
	font: inherit;
}

#industry{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 30px;
	left: 0px;
	font: inherit;
}

#performance{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 60px;
	left: 0px;
	font: inherit;
}

#cost{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 90px;
	left: 0px;
	font: inherit;
}

#average{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 120px;
	left: 0px;
	font: inherit;
}

#production{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 150px;
	left: 0px;
	font: inherit;
}

#liquidity{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 30px;
	left: 0px;
	font: inherit;
}

#fx{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 60px;
	left: 0px;
	font: inherit;
}

#interest{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 90px;
	left: 0px;
	font: inherit;
}

#credit{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 120px;
	left: 0px;
	font: inherit;
}

#other_r{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 150px;
	left: 0px;
	font: inherit;
}

#income{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 30px;
	left: 0px;
	font: inherit;
}

#balance{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 60px;
	left: 0px;
	font: inherit;
}

#cash{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 90px;
	left: 0px;
	font: inherit;
}

#ownership{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 30px;
	left: 0px;
	font: inherit;
}

#bod{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 60px;
	left: 0px;
	font: inherit;
}

#management{
	background-color: #ffffff;
  	color: #9d9d9d;
  	width: auto;
  	padding: 4px;
  	border-style: none;
	position: absolute;
	top: 90px;
	left: 0px;
	font: inherit;
}

/*------------------------게시판부분end-----------------*/


/*-------------------------저작권부분-------------------------------*/
#footer{
	position: relative;
	height: 328px;
	width: 1920px;
	background-color: #6e6e6e;
}

#set{
	height: 270px;
	width: 1820px;
	position: absolute;
	left: 50px;
	color: #ffffff;
	border-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
}

#foot_content{
	position: absolute;
	left: 1530px;
	top: 50px;

}
.foot_table{
	color:#ffffff;
}

td{
	font-size: 16px;
	color:#ffffff;
}

#email_logo{
	width: 30px;
	position: absolute;
	left: -40px;
	top: -7px;
}

#phone_logo{
	width: 30px;
	position: absolute;
	left: -40px;
	top: 35px;
}

#placeholder_logo{
	width: 30px;
	position: absolute;
	left: -40px;
	top: 85px;
}

#copy{
	position: absolute;
	top: 295px;
	left: 500px;

}
