@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
	font-family: 'Quicksand', serif;
	width: 1920px;
	height: 1426px;
	/*margin: 0 auto;*/
}
h1{
	font-weight: bold;
}
/* 링크에서 밑줄 없애기 */
a{ text-decoration:none; 
	color: #9d9d9d;
}

/* 마우스 지나갈 때만 삭제 + 강제로 없애기 */
a:hover { text-decoration:none !important;
	color: #9d9d9d;
 }
 
/*-------------------------------헤더부분--------------------------------*/
#header{
	position: relative;
	width: 1920px;
	height: 220px;
	margin: 0 auto;

}
#logo{
	position: absolute;
	left: 100px;
	top: 80px;
}
#topMenu{
	position: absolute;
	left: 392px;
	top: 80px;
	height: 30px;
}
#topMenu ul li{
	list-style: none;
	color: #000000;
	float: left;
	text-align :center;
}
#topMenu .menuLink:hover {
	font-weight: bold;
}
#topMenu .menuLink{
	text-decoration: none;

	color: #000000;

	margin: 0px 100px 0px 0px;
	font-size: 14px;
}
#LOGIN{
	background-color: #31D9B8;
  	color: #ffffff;
  	position: absolute;
  	left: 1666px;
  	top:78px;
  }
  #LOGIN a{
  	color: #ffffff;
  }
  #SIGN_IN{
  	background-color: #ffffff;
  	color: #95989A;
  	border-style:double;
  	border-width: 1px;
  	border-color: #95989A;
  	position: absolute;
  	left: 1750px;
  	top:78px;
  }
   #SIGN_IN a{
   	color: #95989A;
   }
  .login_sign{
  	appearance: none;
  	box-shadow: none;
  	border:0;
  	border-radius: 22px;

  	color: #ffffff;
  	font-weight: bold;
  	width: 70px;
  	height: 30px;
  	font-size: 14px;
  }
  #searchbox{
  	padding: 0px;
  	position: absolute;
  	left: 392px;
  	top: 138px;
  	height: 48px;
  }
  #search{
  	border-radius: 24px;
  	width: 600px;
  	height: 48px;
  	outline: 0;
  	border:0px;
  	border-style: none;
  	background-color: #f4f4f4;
  	color: #7c7c7c;
  	font-size: 14px;

  }
  #submit{
  	background-color: #31D9B8;
  	color: #ffffff;
  	width: 130px;
  	padding: 12px;
  	font-size: 20px;
  	border-radius: 24px;
  	border:0px;
  	border-style: none;
  	position: absolute;
  	top: 0px;
  	left: 628px;
  }
#current{
	border-style: solid;
	border-color: #31D9B8;
	border-bottom-width: 4px;
	width: 120px;
	font-weight: bold;
}
#content td{
	color: #9d9d9d;
}
/*-------------------------콘텐츠---------------------------------*/
#wrap{
	overflow: hidden;
	width: 1920px;
	height: 878px;
	background-color: #f5f5f5;
	position: relative;
	box-shadow: 0 2px 5px silver inset;
}
#aside{
	width: 260px;
	float: left;
}

/*------------------------게시판부분-----------------*/
#section{

	position: absolute;
	top: 42px;
	left: 392px;
	
	height: 754px;
	float: left;
	box-shadow : 2px 2px 10px silver;
	background-color: #ffffff;
	width: 940px;
	
}
#title{
	position: absolute;
	top: 0px;
	left: 40px;
	width: 860px;
	height: 87px;
	border-style:solid;
	border-bottom-width: 1px;
	border-color:#D9D9D9; 
	
}
#title_latest{
	position: absolute;
	top: 46px;
	left: 0px;
	font-weight: bold;
	font-size: 22px;
	color: #31D9B8;
}
#content{
	position: absolute;
	top: 127px;
	left: 40px;
}
/*------------------------게시판부분-----------------*/

/*-------------------------저작권부분-------------------------------*/
#footer{
	position: relative;
	height: 328px;
	width: 1920px;
	background-color: #6e6e6e;
}
.infobox{
	position: relative;
	padding-bottom: 32px;
}
#info{
	position: absolute;
	left: 1546px;
	top: 58px;
}
#bold{
	position: absolute;
	top: 3px;
	left: 33px;
}
#second{
	position: absolute;
	top:0px;
	left: 85px;
}
#second1{
	position: absolute;

	left: 130px;
	top: 0px;
}
#footer #logo{
	left: 66px;
	top:170px;
}
#copyright{
	position: absolute;
	width: 1788px;
	height: 64px;
	border-style:solid;
	border-top-width:1px;
	border-color:#95989A;
	padding: 26px;
	top: 264px;
	left: 66px;
	text-align:center;
	vertical-align:middle;
	font-size: 16px;

}