@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
	font-family: 'Quicksand', serif;
	width: 1920px;
	height: 1426px;
	/*margin: 0 auto;*/
}

#wrap{
	overflow: hidden;
	width: 1920px;
	height: 1100px;
	background-color: #f5f5f5;
	position: relative;
	box-shadow: 0 2px 5px silver inset;
}

#content{
	position: absolute;
	top: 148px;
	left: 709px;
	width: 502px;
	height: 430px;
	background-color: #ffffff;
	box-shadow : 2px 2px 10px silver;
}

#login_title{
  	width: 502px;
  	height: 80px;
	margin: 0 0 0 0;
  	outline: 0;
  	border: 0px;
	border-style: none;
  	color: #7c7c7c;
  	font-size: 16px;
}

#id_username{
	margin: 0 0 30px 54px;
	border: 0;
	background-color: #f4f4f4;
	width: 394px;
	height: 80px;
	border-radius: 0px;
	font-size: 24px;
	font-family: 'Quicksand', serif;
}

#id_password{
	margin: 0 0 55px 54px;
	border: 0;
	background-color: #f4f4f4;
	width: 394px;
	height: 80px;
	border-radius: 0px;
	font-size: 24px;
	font-family: 'Quicksand', serif;
}

/* Form Error */
.errornote {
	display: block;
	margin: 5px 0;
	border: 1px solid #c30;
	background: #fcf;
	padding: 5px 25px;
	color: #c30;
	font-size: 12px;
	font-weight: bold;
}

/* Authentication Forms */

fieldset{
	border: 0px solid #ccc;

}

.aligned label{
	width: 0px;
	display: block;
	padding: 0 0 0 0;
	border: 0;
	float: left;
	font-family: 'Quicksand', serif;
}

.form-row{
	padding: 0 0 0 0;
	font-size: 15px;
	color: #7c7c7c;
	border-bottom: 0px solid #eee;
}

.submit-row{
	margin: 0 0;
	border: 0px solid #ccc;
	text-align: right;
}

.submit-row input{
	width: 130px;
	font-size: 20px;
	margin: 0 54px 0 0;
	background-color: #ffffff;
	color: #31D9B8;
	border: 1px solid #31D9B8;
	padding: 12px;
	border-radius: 24px;
}


