@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
	font-family: 'Quicksand', serif;
	width: 1920px;
	height: 1426px;
	/*margin: 0 auto;*/
}

#wrap{
	overflow: hidden;
	width: 1920px;
	height: 1100px;
	background-color: #f5f5f5;
	position: relative;
	box-shadow: 0 2px 5px silver inset;
}

#content{
	position: absolute;
	top: 148px;
	left: 709px;
	width: 502px;
	height: 280px;
	background-color: #ffffff;
	box-shadow : 2px 2px 10px silver;
}

#reg_done{
  	margin: 60px 0 0 63px;
	text-align: center;
	width: 355px;
	font-size: 20px;
	background-color: #ffffff;
	color: #31D9B8;
	border: 1px solid #31D9B8;
	padding: 12px;
	border-radius: 24px;
}

#NEW_LOGIN{
	background-color: #31D9B8;
  	color: #ffffff;
  	
}
  .new_login_sign{
	margin: 30px 0 0 187px;
  	appearance: none;
  	box-shadow: none;
  	border:0;
	background-color: #31D9B8;
  	border-radius: 22px;
  	color: #ffffff;
  	font-weight: bold;
  	width: 120px;
  	height: 40px;
  	font-size: 14px;
  }

