{% extends "base.html" %}

{% block title %}logged_done.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/logout_forms .css" %}{% endblock %}

{% block content %}

<div id="wrap">
	
	<div id="content">
		<div id="ment">
			<h1>Logout Successfully</h1>
		</div>
			<!--<p><a href="{% url 'login' %}">Log in again</a></p>-->
			<button id="LOG_IN_AGAIN" class="login_sign_again" type="button" onclick="location.href='{% url 'login' %}' ">LOG IN AGAIN</a></button> 
		
	</div>
</div>
{% endblock %}
