{% extends "base.html" %}

{% block title %}login.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/login_forms.css" %}{% endblock %}

{% block content %}
<div id="wrap"> 
	<div id="content">
	
		<div id="login_title">
			<p></p>
		</div>
	<form action = "." method = "post">{% csrf_token %}
	{% if form.error %}
	<p class="errornote">Wrong! Please correct the error(s) below.</p>
	{% endif %}


	<fieldset class="aligned">

		<div class="form-row">
			{{ form.username}}
		</div>

		<div class="form-row">
			{{ form.password }}
		</div>

	</fieldset>

	<div class="submit-row">
		<input type="submit" value="LOGIN →"/>
		<input type="hidden" name="next" value="{{ next }}" />
	</div>

	<script type ="text/javascript">document.getElementById('id_username').focus();
	</script>
	</form>

	</div>
</div>
{% endblock %}
