{% extends "base.html" %}

{% block title %}password_change_form.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/change_forms.css" %}{% endblock %}

{% block content %}
<div id="wrap">
<div id="content">

	<form action = "." method = "post">{% csrf_token %}

	{% if form.error %}
	<p class="errornote">Wrong! Please correct the error(s) below.</p>
	{% endif %}
	<div id ="change_title">
		<p>Please enter your old password for security's sake, and then enter your new password twice</p>
	</div>
	<filedset class="aligned">

		<div class="form-row">
			{{ form.username}}
		</div>

		<div class="form-row">
			{{ form.password1 }}
		</div>
		
		<div class="form-row">
			{{ form.password2 }}
		</div>

	</fieldset>

	<div class="submit-row">
		<input type="submit" value="Password Change"/>
	</div>

	<script type ="text/javascript">document.getElementById('id_username').focus();
	</script>
	</form>
</div>
</div>
{% endblock %}
