{% extends "base.html" %}

{% block title %}password_change_done.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/change_done_forms.css" %}{% endblock %}

{% block content %}

<div id="wrap">
	<div id="content">
		<div id="change_done">
			<p>Your password was changed.</p>
		</div>
		<button id="Change_Home" class="chan_home" type="button" onclick="location.href='{% url 'home' %}' ">HOME</a></button> 
	</div>
</div>
{% endblock %}
