{% extends "base.html" %}

{% block title %}register.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/register_forms.css" %}{% endblock %}

{% block content %}
<div id="wrap">
	<div id="content">
	
		<form method = "post" action=".">{% csrf_token %}
	
		{% if form.error %}
		<p class="errornote">Wrong! Please correct the error(s) below.</p>
		{% endif %}
	
		<div id="login_title">
			<p>Your Email address will serve as your name and will also used to identify you, if you forget your password.</p>
		</div>

		<filedset class="aligned">
	
			<div class="form-row">
				{{ form.username}}
			</div>
	
			<div class="form-row">
				{{ form.password1 }}
			</div>
			
			<div class="form-row">
				{{ form.password2 }}
			</div>
			
			<div class="form-row">
				{{ form.company }}
			</div>
			
			<div class="form-row">
				{{ form.name }}
			</div>
	
		</fieldset>

		<div id="privacy_statement">
		<input type="checkbox" name="privacy" value="By Checking CREATE ACCOUNT you agree to the PRIVACY STATEMENT" />By Checking CREATE ACCOUNT you agree to the PRIVACY STATEMENT
		</div>

		<div class="submit-row">
			<input type="submit" value="Create Account →"/>
		</div>
	
		<script type ="text/javascript">document.getElementById('id_username').focus();
		</script>
		</form>
	
	</div>
</div>
{% endblock %}
