{% extends "base.html" %}

{% block title %}register_done.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/register_done.css" %}{% endblock %}

{% block content %}
<div id="wrap">
	<div id="content">
		<div id="reg_done">

			<h1>Registration Completed Successfully</h1>
			<p>Thank you for registering.</p>
		</div>
			<!--<p><a href="{% url 'login' %}">Log in again</a></p>-->
			<button id="NEW_LOGIN" class="new_login_sign" type="button" onclick="location.href='{% url 'login' %}' ">LOGIN</a></button> 
	</div>
</div>
{% endblock %}
