{% extends "base.html" %}

{% block title %}search.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/search.css" %}{% endblock %}

{% block content %}

		<form id="searchbox" action="{% url 'search' %}" method="post"> {% csrf_token %}
		
				<input id = id_search_word type="text" placeholder="  Type In Company Name or Ticker" maxlength="100" required="True" name="search_word">
			<input id="submit" type="submit" value="submit" name="find">
		</form>

<div id="wrap">
		<div id="box">
			<div id=section>
				<div id="title"><h1 id="title_latest">'{{search_term}}' Search Result<h1></div>
				<div id="content_industry">
					<p id= "menu">Industry Analysis</p>
					
					<form id="result_ind_more" action="{% url 'Issue:more' %}" method="post">{% csrf_token %}
						<input type="hidden" name="search_ind_result" value="{{search_term}}">
						<input id="result_ind" type="submit" value="More ->" name = sub_ind>					
					</form>

					<table id="board" cellspacing="1" width="780">
						{% for indu in ind_object_list %}
							<tr>
								<td class=bulletin><a href="#"> {{indu.title}}</a></td>
								<td class=date>{{indu.created_date}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>

				<div id="content_disclosure">
					<p id= "menu">Company Disclosure</p>

					<form id="result_dis_more" action="" method="post"> {% csrf_token %}
						<input type="hidden" name="search_dis_result" value={{search_term}}>
						<input id="result_dis" type="submit" value="More ->" name = sub_dis>					
					</form>

					<table id="board" cellspacing="1" width="780">
						{% for indu in dis_object_list%}
							<tr>
								<td class=bulletin><a href="#">{{indu.title}}</a></td>
								<td class=date>{{indu.created_date}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
				
				<div id="content_analyst">
					<p id= "menu">Analyst Report</p>

					<form id="result_ana_more" action="{% url 'Analyst:more' %}" method="post"> {% csrf_token %}
						<input type="hidden" name="search_ana_result" value={{search_term}}>
						<input id="result_ana" type="submit" value="More ->" name = sub_ana>
					</form>
						
					<table id="board" cellspacing="1" width="780">
						{% for indu in ana_object_list %}
							<tr>
								<td class=bulletin><a href="#">{{indu.title}}</a></td>
								<td class=date>{{indu.created_date}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>

			</div>
		</div>
	</div>
{% endblock content %}

{% block footer %}
	<div id="footer">
		&copy; FACTBOOK
	</div>
{% endblock footer %}


