{% extends "base.html" %}

{% block title %}Industry_Analysis.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/Industry_Analysis_more.css" %}{% endblock %}

{% block content %}

		<form id="searchbox" action="{% url 'search2' %}" method="post"> {% csrf_token %}
		
				<input id = id_search_word type="text" placeholder="  Type In Company Name or Ticker" maxlength="100" required="True" name="search_word">
			
			<input id="submit" type="image" src="{% static "photo/search.png" %}">
		</form>

	<div id="wrap">
		<div id="box">
			<div id="aside">
				<nav id="asideMenu" >
					<ul> 
						<li><a class="menuLink"  href="{% url 'factbook:factbook_more' comp_name.id %}">Factbook</a></li> 
						<li><a class="menuLink"  href="{% url 'Disclosure:more' comp_name.id %}">Disclosures</a></li> 
						<li><a class="menuLink"  href="{% url 'Analyst:more' comp_name.id %}">Analyst Report</a></li> 
						<li><a class="menuLink" href="{% url 'Issue:more' comp_name.id %}">Industry Info</a></li> 
					</ul> 
				</nav>
			</div>

			<div id=section>
				<div id="title"><h1 id="title_latest">{{comp_name.title}} Industry Analysis<h1></div>
				<div id="content">
					<table cellspacing="1" width="780">
						{% load el_pagination_tags %}
						{% paginate sch_ind %}
						{% for ind in sch_ind %}
							<tr>
								<td class=bulletin><a href="{% url 'Issue:detail' ind.id %}" target="_blank"> {{ind.title}}</a></td>
								<td class=date> {{ind.created_date}}</td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
				<div id = "paging">				
				{% show_pages %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}	
		

