<head>
	<title>Industry_detail.html</title>
	{% load staticfiles %}
	<link rel = "stylesheet" type="text/css" href={% static "css/Industry_detail.css" %} />

</head>
	
	<div id="wrap">
		<div id="box">
			<div id="all_section">
				
				<div id="company_info">
					<h2 id=name>{{industry.title}}</h2> 
				</div>
				
				<div id="Disclosure" class="section">
					{{industry.text|safe}}
				</div>
			</div>
		</div>
	</div>

