@import url('https://fonts.googleapis.com/css?family=Quicksand');

h1{
	font-weight: bold;
}
 

/*-------------------------콘텐츠---------------------------------*/
#wrap{
	overflow: hidden;
	width: 1920px;
	height: 1200px;
	background-color: #f5f5f5;
	position: relative;
	box-shadow: 0 2px 5px silver inset;
}
#box{
	position: absolute;
	top: 60px;
	left: 90px;
	width: 1524px;
	height: 1050px;
	background-color: #ffffff;
	box-shadow : 2px 2px 10px silver;
}

/*------------------------게시판부분-----------------*/

#section{
	position: absolute;
	top: 50px;
	height: 1000px;
	background-color: #ffffff;
	width: 1500px;
	overflow-y: auto;
	overflow-x: hidden;

}
#all_section{

	position: absolute;
	top: -100px;
	left: 50px;
	
	height: 1000px;
	float: left;
	
	background-color: #ffffff;
	width: 1450px;

}

/*--------게시판 메뉴들----------*/




