    h1 { width:190px; padding:5px; font-size:24px; font-weight:bold; font-family:Arial; color:#FFFF00; background:#999999;  margin:0}
    h2 { padding:5px; font-size:24px; font-weight:bold; font-family:Arial; color:#FFFF00; background:#666666; margin:0}
    h3 { 
        font-size: 25px; 
        position: relative;
        top: 25px;
        left: 20px;
        color: black;
    }
    body{
        width: 1110px;
        height: 100%;
        margin:0 auto;
    }
    #searchbox
    {
        background-color: #eaf8fc;
        background-image: linear-gradient(#fff, #d4e8ec); 
        border-width: 1px;
        border-style: solid; 
        border-color: #c4d9df #a4c3ca #83afb7;            
        width: 520px;
        height: 30px;
        padding: 3.5px;
        margin: 100px auto 50px;
        overflow: hidden; /* Clear floats */
        position: relative;
        top: -150px;
        left: 65px;

    }

    #search {
        padding: 5px 9px;
        height: 16px;
        width: 500px;
        border: 1px solid #grey;/*#a4c3ca;*/
        font: normal 13px 'trebuchet MS', arial, helvetica;
        background: #f1f1f1;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);     
        float: left;    
    }

    /* ----------------------- */

  /*
    #submit
    {       
        background-color: #6cbb6b;
        background-image: linear-gradient(#95d788, #6cbb6b);
      /*  border-radius: 3px 50px 50px 3px;  
        border-width: 1px;
        border-style: solid;
        border-color: #7eba7c #578e57 #447d43;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
        0 1px 0 rgba(255, 255, 255, 0.3) inset;
        height: 35px;
        margin: 0 0 0 10px;
        padding: 0;
        width: 90px;
        cursor: pointer;
        font: bold 14px Arial, Helvetica;
        color: #23441e;    
        text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    }
    

    #submit:hover {       
        background-color: #95d788;
        background-image: linear-gradient(#6cbb6b, #95d788);
    }   

    #submit:active {       
        background: #95d788;
        outline: none;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
    }

    #submit::-moz-focus-inner {
     border: 0;  /* Small centering fix for Firefox 
 }
 */
 #topMenu{
    height: 20px;
    width: 850px;
    position: relative;
    top: -80px;
    left: 315px;

}
#topMenu ul li{
    list-style: none;
    color: width;
    background-color: #2d2d2d;

    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    display: inline;
    padding: 0 10px;
}
#topMenu .menuLink{
    text-decoration: none;

    color: width;

    width: 150px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Trebuchet MS" ,Dotum,Arial;
}
#topMenu .menuLink:hover{
    color:red;
    background-color: #4d4d4d;
}
#logo { 
    font-family:Arial; 
    font-size:30px; 
    font-weight:bold; 
    background:#444444; 
    width:100%; 
    padding:20px;
    height: 100px;

}
#page { 
    position:relative; 
    width:1150px; 
    overflow:visible
    height:600px;
}
#menu { 
    position:relative; 
    padding:20px; 
    width:200px; 
    background:#666666; 
    float:left; 
    height:400px ;
}
#menu ul { 
    margin:0; 
    padding:0
}
#menu li { 
    width:190px; 
    padding:5px; 
    border-bottom:1px dotted #FFFFFF; 
    font-family:Arial; font-size:14px; 
    font-weight:bold; color:#FFFFFF; 
    list-style:none
}
#contents { 
    position:relative; 
    padding:20px; 
    background: #999999; 
    font-size:12px; 
    font-family:Verdana; 
    color:#FFFFFF; 
    width:630px; float:left; 
    height:400px;
}
#text { 
    padding:5px; 
    line-height:150%; 
    font-family:Verdana; 
    text-align:justify
}
#links { 
    position:relative; 
    float:left; 
    background:#CCCCCC; 
    width:200px; 
    padding:20px; 
    clear:right; 
    height:400px
}
#copy { 
    position:relative; 
    clear:both; 
    background: #333333; 
    font-family: Verdana; 
    font-size:50px; 
    font-weight:bold; 
    color:#FFFFFF; 
    width:1110px; 
    padding:20px 
}
.loginForm{position:relative;width:190px; }
.loginForm .box{width:226px}
.loginForm .box .iText{
    width:120px;
    margin:3px 0;
    padding:10px 12px;
    border:1px solid #e1e1e1;
    height: 5px;
}
.loginForm .box p{margin-top:1em}
.loginForm .box p span,
.loginForm .box p input{height:18px;font-size:11px;color:#737373;line-height:18px;vertical-align:middle}
.loginForm .loginBtn{
    display:block;
    position:relative;
    top:-112px;
    left: 150px;
    width:40px;
    height:30px;
    padding:10px;
    border-radius:5px;
    font-size:10px;
    font-weight:700;
    color:#fff;
    line-height:60px;
    text-align:center;
    text-shadow:1px 1px 1px #004773;
    background:#333;
}
#section_add{
    position: absolute;
    right: 30px;
}