@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
	font-family: 'Quicksand', serif;
	width: 1920px;
	height: 1080px;
	/*margin: 0 auto;*/
}

#wrap{
	overflow: hidden;
	width: 1920px;
	height: 1000px;
	background-color: #f5f5f5;
	position: relative;
	box-shadow: 0 2px 5px silver inset;
}

#content{
	position: absolute;
	top: 108px;
	left: 659px;
	width: 550px;
	height: 270px;
	background-color: #ffffff;
	box-shadow : 2px 2px 10px silver;
}

#change_done{
	margin: 60px 190px 0 130px;
  	width: 265px;
	font-size: 20px;
	background-color: #ffffff;
	color: #31D9B8;
	border: 1px solid #31D9B8;
	padding: 12px;
	border-radius: 24px;
}

#Chnage_Home{
	background-color: #31D9B8;
  	color: #ffffff;
  	
}
  .chan_home{
	margin: 35px 0 0 214px;
  	appearance: none;
  	box-shadow: none;
  	border:0;
	background-color: #31D9B8;
  	border-radius: 22px;
  	color: #ffffff;
  	font-weight: bold;
  	width: 120px;
  	height: 40px;
  	font-size: 14px;
  }

