
/*-------------------------콘텐츠---------------------------------*/
#wrap{
	overflow: hidden;
	width: 1920px;
	height: 860px;
	background-color: #f5f5f5;
	position: relative;
	box-shadow: 0 2px 5px silver inset;
}
#aside{
	width: 260px;
	float: left;
}

/*-------------------------Search---------------------------------*/
 #searchbox{
  	padding: 0px;
  	position: absolute;
  	left: 392px;
  	top: 138px;
  	height: 48px;
  }
  #id_search_word{
  	border-radius: 24px;
  	width: 600px;
  	height: 48px;
  	outline: 0;
  	border:0px;
  	border-style: none;
  	background-color: #f4f4f4;
  	color: #7c7c7c;
  	font-size: 14px;

  }
  #submit{
  	background-color: #31D9B8;
  	color: #ffffff;
  	width: 130px;
  	padding: 12px;
  	font-size: 20px;
  	border-radius: 24px;
  	border:0px;
  	border-style: none;
  	position: absolute;
  	left: 628px;
    top:0px;
  }


/*------------------------게시판부분-----------------*/
#all_section{

	position: absolute;
	top: 50px;
	left: 392px;
	width: 760px;
	float: left;
}
#section{
	margin: 20px;
	box-shadow : 2px 2px 10px silver;
	background-color: #ffffff;
	width: 760px;
	height: 200px;
}

#dot{
	font-size: 20px;
}
#name{
	font-size: 50px;
}
/*------------------------게시판부분-----------------*/

/*-------------------------저작권부분-------------------------------*/
#footer{
	position: relative;
	height: 328px;
	width: 1920px;
}
