@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
	font-family: 'Quicksand', serif;
	width: 1920px;
	height: 1426px;
	background-color: #f5f5f5;
}

#wrap{
	overflow: hidden;
	width: 1920px;
	height: 1100px;
	background-color: #f5f5f5;
	position: relative;
}
#box{
	position: absolute;
	top: 300px;
	left: 600px;
	width: 600px;
	height: 300px;
	background-color: #ffffff;
	box-shadow : 2px 2px 10px silver;
}

#logout{
	position: relative;
	left: 15px;
	font-size: 24px;
}

#purchase{
	position: relative;
	top: 0px;
	left: 15px;
	font-size: 24px;
}

#item_list{
	position: relative;
	top: -15px;
	height: 150px;
	overflow-y: auto;

}
