@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
	font-family: 'Quicksand', serif;
	width: 1920px;
	height: 1426px;
	/*margin: 0 auto;*/
}
h1{
	font-weight: bold;
}
/* 링크에서 밑줄 없애기 */
a{ text-decoration:none; 
	color: #9d9d9d;
}

/* 마우스 지나갈 때만 삭제 + 강제로 없애기 */
a:hover { text-decoration:none !important;
	color: #9d9d9d;
 }
 

/*-------------------------콘텐츠---------------------------------*/
#wrap{
	
	width: 1920px;
	height: 878px;
	background-color: #f5f5f5;
	position: relative;
	box-shadow: 0 2px 5px silver inset;
}

#box{
	position: absolute;
	top: 42px;
	left: 282px;
	width: 942px;
	height: 776px;
	box-shadow : 2px 2px 10px 2px silver;
}

/*-------------------------Search---------------------------------*/
 #searchbox{
  	padding: 0px;
  	position: absolute;
  	left: 392px;
  	top: 138px;
  	height: 48px;
  }
  #id_search_word{
  	border-radius: 24px;
  	width: 600px;
  	height: 48px;
  	outline: 0;
  	border:0px;
  	border-style: none;
  	background-color: #f4f4f4;
  	color: #7c7c7c;
  	font-size: 14px;

  }
  #submit{
  	background-color: #31D9B8;
  	width: 60px;
	height: 27px;
  	padding: 12px;
  	font-size: 20px;
  	border-radius: 24px;
  	position: absolute;
  	left: 628px;
	top:0px;
  }


/*------------------------게시판부분-----------------*/
#section{

	position: absolute;
	top: 0px;
	height: 776px;
	float: left;
	
	background-color: #ffffff;
	width: 960px;
	
}
#menu{
	font-weight: bold;
	color: #6E6E6E;
	height: 30px;

}
#board{
	
	 
}
#title{
	position: absolute;
	top: 0px;
	left: 62px;
	width: 778px;
	height: 75px;
	border-style:solid;
	border-bottom-width: 1px;
	border-color:#D9D9D9; 
	
}
#title_latest{
	position: absolute;
	top: 46px;
	left: 0px;
	font-weight: bold;
	font-size: 22px;
	color: #31D9B8;
}

#content_fact{
	position: absolute;
	top: 46px;
	left: 62px;
	width: 778px;
	height: 40px;
	float: right;
}

#content_industry{
	position: absolute;
	top: 90px;
	left: 62px;
	height: 550px;
	overflow-y: auto;

}

.bulletin{
	width: 650px;
	height: 27px;
}
.date{
	width:200px;
}
/*------------------------게시판부분-----------------*/

