{% extends "base.html" %}

{% block title %}Analyst_home.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/Analyst_home.css" %}{% endblock %}

{% block content %}

		<form id="searchbox" action="{% url 'search2' %}" method="post"> {% csrf_token %}
		
				{{form.search_word}}
			
			<input id="submit" type="image" src="{% static "photo/search.png" %}">
		</form>
	
	<div id="wrap">
		<div id="box">
			<div id="aside">
				<nav id="asideMenu" >
					<ul> 
						<li><a class="menuLink"  href="{% url 'factbook:factbook_list' %}">Factbook</a></li> 
						<li><a class="menuLink"  href="{% url 'Disclosure:disclosure_home' %}">Disclosures</a></li> 
						<li><a class="menuLink"  href="{% url 'Analyst:Analyst_home' %}">Analyst Report</a></li> 
						<li><a class="menuLink" href="{% url 'Issue:Industry_Analysis' %}">Industry Info</a></li>
						<li><a class="menuLink" href="{% url 'IRLink:IRLink_home' %}">IR Link</a></li>
					</ul> 
				</nav>
			</div>

			<div id="all_section">
				
				<div id="company_info">
					<h2 id=name>Latest Analyst Report</h2> 
				</div>
				
				<div id="Analyst" class="section">
					<table class="subtitle">
						<tbody>
                                               {% load el_pagination_tags %}
	                                       {% paginate All %}	
						{% for all in All %}
							<tr>
								<td class=bulletin><a href="{% url 'Analyst:detail' all.id %}" target="_blank"> {{all.title}}</a></td>
								<td class=date>{{all.created_date}}</td>
							</tr>
						{% endfor %}
                                             
						</tbody>
					</table>     
				</div>
				<div id = "paging">				
				{% show_pages %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}



