<head>
	<title>factbook_detail.html</title>
	{% load staticfiles %}
	<link rel = "stylesheet" type="text/css" href={% static "css/factbook_detail.css" %} />

</head>

<div id="wrap">
	<div id="box">
		<div id = "section">
			<div id="all_section">
				{% if factbook_content %}
					{% for content in factbook_content %}
					{{content.text|safe}}
					{% endfor %}
				{% else %}
					<p> Please Fill up a space for costomer </p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

