{% extends "base.html" %}

{% block title %}factbook_more.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/factbook.css" %}{% endblock %}

{% block content %}

		<form id="searchbox" action="{% url 'search2' %}" method="post"> {% csrf_token %}
		
				<input id = id_search_word type="text" placeholder="  Type In Company Name or Ticker" maxlength="100" required="True" name="search_word">
			
			<input id="submit" type="image" src="{% static "photo/search.png" %}" name="find">
		</form>
	
	<div id="wrap">
		<div id="box">
			<div id="aside">
				<nav id="asideMenu" >
					<ul> 
						<li><a class="menuLink"  href="{% url 'factbook:factbook_more' comp_name.id %}">Factbook</a></li> 
						<li><a class="menuLink"  href="{% url 'Disclosure:more' comp_name.id %}">Disclosures</a></li> 
						<li><a class="menuLink"  href="{% url 'Analyst:more' comp_name.id %}">Analyst Report</a></li> 
						<li><a class="menuLink" href="{% url 'Issue:more' comp_name.id %}">Industry Info</a></li> 
						<li><a class="menuLink" href="{% url 'IRLink:more' comp_name.id %}">IR Link</a></li>
					</ul> 
				</nav>
			</div>
			<!---                            룰루랄라     게시판 부분(목록)                                  -->
			<div id="all_section">
				<div id=date>
					<b class="date_font">Factbook</b>
					<!--<a href=""><b class="date_font"><</b></a>
					 날짜 바뀔
					<a href=""><b class="date_font">></b></a> -->
				</div>
				<!---->
				<div id="company_info">

					<h2 id=name>{{comp_name.title}}</h2> 
					<h3 id=num>{{comp_name.Ticker_Number}}</h3>
				
				</div>
				
				<div id="Corporate_Overview" class="section">
					<a class="menu_title">Corporate Overview </a>

					<table class="subtitle">
	
						<tbody>
							<form id="business_scope" action="{% url 'factbook:factbook_detail' %}" target="_blank" method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="business" type="submit" value="Business Scope" name = fac_bus>
							</form>
							
							<form id="fac_history" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="history" type="submit" value="History" name = fac_his>
							</form>

							<form id="Change_in_Capital" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="capital" type="submit" value="Change in Capital" name = fac_cap>
							</form>

							<form id="Share_with_Voting_Right" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="right" type="submit" value="Share with Voting Right" name = fac_rig>
							</form>

							<form id="fac_Dividend" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="Dividend" type="submit" value="Dividend" name = fac_div>
							</form>	
						</tbody>
					</table>
				</div>

				<div id="Risk_Analysis" class="section">
					<a class="menu_title">Risk Analysis</a>

					<table class="subtitle">
						<tbody>
							<form id="liquidity_risk" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="liquidity" type="submit" value="Liquidity Risk" name = fac_liq>
							</form>	
							
							<form id="fx_exposure" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="fx" type="submit" value="F/X Exposure" name = fac_fx>
							</form>	
							
							<form id="interest_risk" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="interest" type="submit" value="Interest Risk" name = fac_int>
							</form>	
							
							<form id="credit_risk" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="credit" type="submit" value="Credit Risk" name = fac_cre>
							</form>
							
							<form id="other_risk" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="other_r" type="submit" value="Other Risk" name = fac_oth>
							</form>
						</tbody>
					</table>
				</div>

				<div id="Governance" class="section">
					<a class="menu_title">Governance</a>

					<table class="subtitle">
						<tbody>
							<form id="fact_ownership" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="ownership" type="submit" value="Ownership" name = fac_own>
							</form>	
							
							<form id="bod_management" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="bod" type="submit" value="BOD/Management" name = fac_bod>
							</form>	
							
							<form id="fact_management" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="management" type="submit" value="Management" name = fac_man>
							</form>	
						</tbody>
					</table>
				</div>

				<div id="Businness_and_Operation" class="section">
					<a class="menu_title">Business and Operation</a>

					<table class="subtitle">
						<tbody><!-- 게시판 하나하나 -->
							<form id="industry_overview" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="industry" type="submit" value="Industry Overview" name = fac_ind>
							</form>	
							
							<form id="performance_by_segment" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="performance" type="submit" value="Performance by segment" name = fac_per>
							</form>	
							
							<form id="cost_of_product" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="cost" type="submit" value="Cost of Product" name = fac_cos>
							</form>	

							<form id="average_sell_price" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="average" type="submit" value="Average Selling Price" name = fac_ave>
							</form>	

							<form id="production_and_utilization" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="production" type="submit" value="Production and Utilization" name = fac_pro>
							</form>	
						</tbody>
					</table>
				</div>

				<div id="Financials" class="section">
					<a class="menu_title">Financials</a>

					<table class="subtitle">
						<tbody><!-- 게시판 하나하나 -->
							<form id="income_statement" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="income" type="submit" value="Income Statement" name = fac_inc>
							</form>
							
							<form id="balance_sheet" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="balance" type="submit" value="Balance Sheet" name = fac_bal>
							</form>
							
							<form id="cash_flow" action="{% url 'factbook:factbook_detail' %}" target="_blank"  method="post"> {% csrf_token %}
								<input type="hidden" name="search" value="{{comp_name.title}}">
								<input id="cash" type="submit" value="Cash Flow" name = fac_cas>
							</form>
						</tbody>
					</table>
				</div>

				<form id="Affiliates" action="{% url 'factbook:factbook_detail' %}" target="_blank" method="post"> {% csrf_token %}
					<input type="hidden" name="search" value="{{comp_name.title}}">
					<input id="affi" type="submit" value="Affiliates" name = fac_aff>
				</form>

				<form id="Other_Investment" action="{% url 'factbook:factbook_detail' %}" target="_blank" method="post"> {% csrf_token %}
					<input type="hidden" name="search" value="{{comp_name.title}}">
					<input id="inve" type="submit" value="Investment" name = fac_inv>
				</form>

				<a href="{% url 'factbook:down' comp_name.id %} " target="_blank"><img id="pdf_logo" src="{% static "photo/pdf_icon.png" %}"></a>
				<!---                             게시판 부분(목록)                     룰루룰랄라                -->
			</div>
		</div>
	</div>
{% endblock content %}
 

