@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
	font-family: 'Quicksand', serif;
	width: 1920px;
	height: 1426px;
	/*margin: 0 auto;*/
}
h1{
	font-weight: bold;
}
/* 링크에서 밑줄 없애기 */
a{ text-decoration:none; 
	color: #9d9d9d;
}

/* 마우스 지나갈 때만 삭제 + 강제로 없애기 */
a:hover { text-decoration:none !important;
	color: #9d9d9d;
 }
 
/*-------------------------Search---------------------------------*/
 #searchbox{
  	padding: 0px;
  	position: absolute;
  	left: 392px;
  	top: 138px;
  	height: 48px;
  }
  #id_search_word{
  	border-radius: 24px;
  	width: 600px;
  	height: 48px;
  	outline: 0;
  	border:0px;
  	border-style: none;
  	background-color: #f4f4f4;
  	color: #7c7c7c;
  	font-size: 14px;

  }
  #submit{
  	background-color: #31D9B8;
  	width: 60px;
	height: 27px;
  	padding: 12px;
  	font-size: 20px;
  	border-radius: 24px;
  	position: absolute;
  	left: 628px;
	top:0px;
  }

/*-------------------------콘텐츠---------------------------------*/
#wrap{
	overflow: hidden;
	width: 1920px;
	height: 1100px;
	background-color: #f5f5f5;
	position: relative;
	box-shadow: 0 2px 5px silver inset;
}
#box{
	position: absolute;
	top: 42px;
	left: 90px;
	width: 1224px;
	height: 1000px;
	box-shadow : 2px 2px 10px silver;
}



/*---------------------------게시판의 메뉴부분이요------------------*/
#aside{
	position: absolute;
	top: 0px;
	left: 0px;
	
	height: 995px;
	
	
	background-color: #ffffff;
	width: 279px;	
	float: left;

	border-style: solid;
	border-top-width: 5px;
	border-top-color: #31D9B8;

	
	border-right-width:5px;
	border-right-color: #f2f2f2;


}

#asideMenu{
	position: absolute;
	left: 55px;
	top: 0px;
	height: 30px;

	
}
#asideMenu ul li{
	list-style: none;
	color: #000000;
	
	margin: 70px 0px 0px 0px;

	text-align :center;
}
#asideMenu .menuLink:hover {
	font-weight: bold;
}
#asideMenu .menuLink{
	text-decoration: none;

	color: #3ead94;

	margin: 0px 0px 0px 0px;
	font-size: 21px;
}

/*---------------------------게시판의 메뉴부분 끝이요--------------------*/

/*------------------------게시판부분-----------------*/
#all_section{

	position: absolute;
	top: 0px;
	left: 284px;
	
	height: 1000px;
	float: left;
	
	background-color: #ffffff;
	width: 940px;
	
	

}

#company_info{
	position: absolute;
	left: 62px;
	top:58px;
	height: 70px;
	width: 778px;
	
	border-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d9d9d9;
}
#name{
	float: left;
	font-size: 33pt;
	color: #6e6e6e;
	font-family: 'Quicksand', serif;
}
#num{
	position: relative;
	top: 22px;
	left: 8px;
	
	float: left;

	font-size: 9pt;

}

#paging{
	position: absolute;
	left: 420px;
	top: 800px;
	font-size: 24px;
		
}
/*--------게시판 메뉴들----------*/

.section{
	position: absolute;
	margin: 55px 0 0 0;
	width: 900px;
	height: 200px;

}


.menu_title{
	position: absolute;
	font-size: 22px;
	padding: 0 0 15px 0;
	font-weight: bold;
	color: #6E6E6E;
	font-family: 'Quicksand', serif;

}
.subtitle{
	color: #6e6e6e;
	position: absolute;
	top: 45px;

}

#Disclosure{
	position: absolute;
	left: 62px;
	top: 100px;
}

.bulletin{

	color: #6e6e6e;
	width: 595px;
	height: 40px;
}
.date{
	color: #000000;
	width:200px;
	
}


