@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
	font-family: 'Quicksand', serif;
	width: 1920px;
	height: 1426px;
	/*margin: 0 auto;*/
}
h1{
	font-weight: bold;
}
/* 링크에서 밑줄 없애기 */
a{ text-decoration:none; 
	color: #9d9d9d;
}

/* 마우스 지나갈 때만 삭제 + 강제로 없애기 */
a:hover { text-decoration:none !important;
	color: #9d9d9d;
 }

/*-------------------------콘텐츠---------------------------------*/
#wrap{
	
	width: 1920px;
	height: 878px;
	background-color: #f5f5f5;
	position: relative;
	box-shadow: 0 2px 5px silver inset;
}

#box{
	position: absolute;
	top: 42px;
	left: 90px;
	width: 1222px;
	height: 776px;
	box-shadow : 2px 2px 10px silver;
}

/*-------------------------Search---------------------------------*/
 #searchbox{
  	padding: 0px;
  	position: absolute;
  	left: 392px;
  	top: 138px;
  	height: 48px;
  }
  #id_search_word{
  	border-radius: 24px;
  	width: 600px;
  	height: 48px;
  	outline: 0;
  	border:0px;
  	border-style: none;
  	background-color: #f4f4f4;
  	color: #7c7c7c;
  	font-size: 14px;

  }
  #submit{
  	background-color: #31D9B8;
  	width: 60px;
	height: 27px;
  	padding: 12px;
  	font-size: 20px;
  	border-radius: 24px;
  	position: absolute;
  	left: 628px;
	top:0px;
  }
/*---------------------------게시판의 메뉴부분이요------------------*/
#aside{
	position: absolute;
	top: 0px;
	left: 0px;
	
	height: 995px;
	
	
	background-color: #ffffff;
	width: 279px;	
	float: left;

	border-style: solid;
	border-top-width: 5px;
	border-top-color: #31D9B8;

	
	border-right-width:5px;
	border-right-color: #f2f2f2;


}

#asideMenu{
	position: absolute;
	left: 55px;
	top: 0px;
	height: 30px;

	
}
#asideMenu ul li{
	list-style: none;
	color: #000000;
	
	margin: 70px 0px 0px 0px;

	text-align :center;
}
#asideMenu .menuLink:hover {
	font-weight: bold;
}
#asideMenu .menuLink{
	text-decoration: none;

	color: #3ead94;

	margin: 0px 0px 0px 0px;
	font-size: 21px;
}

/*---------------------------게시판의 메뉴부분 끝이요--------------------*/


/*------------------------게시판부분-----------------*/
#section{

	position: absolute;
	top: 0px;
	left: 282px;
	
	height: 776px;
	float: left;
	
	background-color: #ffffff;
	width: 960px;
	
}
#title{
	position: absolute;
	top: 0px;
	left: 62px;
	width: 778px;
	height: 87px;
	border-style:solid;
	border-bottom-width: 1px;
	border-color:#D9D9D9; 
	
}
#title_latest{
	position: absolute;
	top: 46px;
	left: 0px;
	font-weight: bold;
	font-size: 22px;
	color: #31D9B8;
}
#content{
	position: absolute;
	top: 127px;
	left: 62px;
	width: 778px;
	word-wrap: break-word;
	
}
.bulletin{
	width: 650px;
	height: 40px;
}
.date{
	width:200px;
}

#paging{
	position: absolute;
	left: 420px;
	top: 800px;
	font-size: 24px;
		
}
/*------------------------게시판부분-----------------*/


