@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
	font-family: 'Quicksand', serif;
	width: 1920px;
	height: 1426px;
	/*margin: 0 auto;*/
}
h1{
	font-weight: bold;
}
/* 링크에서 밑줄 없애기 */
a{ text-decoration:none; 
	color: #9d9d9d;
}

/* 마우스 지나갈 때만 삭제 + 강제로 없애기 */
a:hover { text-decoration:none !important;
	color: #9d9d9d;
 }
 
/*-------------------------콘텐츠---------------------------------*/
#wrap{
	
	width: 1920px;
	height: 878px;
	background-color: #f5f5f5;
	position: relative;
	box-shadow: 0 2px 5px silver inset;
}

#box{
	position: absolute;
	top: 42px;
	left: 90px;
	width: 1222px;
	height: 776px;
	box-shadow : 2px 2px 10px silver;
}

/*-------------------------Search---------------------------------*/
 #searchbox{
  	padding: 0px;
  	position: absolute;
  	left: 392px;
  	top: 138px;
  	height: 48px;
  }
  #id_search_word{
  	border-radius: 24px;
  	width: 600px;
  	height: 48px;
  	outline: 0;
  	border:0px;
  	border-style: none;
  	background-color: #f4f4f4;
  	color: #7c7c7c;
  	font-size: 14px;

  }
  #submit{
  	background-color: #31D9B8;
  	width: 60px;
	height: 27px;
  	padding: 12px;
  	font-size: 20px;
  	border-radius: 24px;
  	position: absolute;
  	left: 628px;
	top:0px;
  }

/*---------------------------게시판의 메뉴부분이요------------------*/
#aside{
	position: absolute;
	top: 0px;
	left: 0px;
	
	height: 776px; /*메인메뉴의 높이*/
	width: 279px;	
	

	background-color: #ffffff;
	
	
	/*옆에 회색 선 효과*/
	border-style: solid;
	border-right-width:5px;
	border-right-color: #f2f2f2;


}

#asideMenu{
	z-index: 1;
	position: absolute;
	top: 46px;
	height: 776px;
	width: 279px;

	
}

#asideMenu ul li{
	line-height: 63px;
	vertical-align: middle;
	text-align: center;
	list-style: none;
	color: #000000;
	

	text-align :center;
	position: relative;
}
.menuLink, .sub_menuLink{
	width: 279px;

}

.main_li:hover{ /*== #asideMenu ul li:hover*/
	font-weight: bold;

	border-style: solid;
	border-left-width: 5px;
	border-color: #31d9b8;
}
#asideMenu ul ul{
	z-index: 2;
	display: none;
	width: 279px;
}
#asideMenu ul li:hover ul {
	display: block;
	position: absolute;
	left: -4px;
	background-color: #61c4b1;
}
#asideMenu ul li ul li{
	position: relative;
	line-height: 45px;
	vertical-align: middle;
	font-weight: normal;
	font-size: 15px;
}

#asideMenu ul li ul li:hover{
	
	font-weight: bold; 
	background-color: #5b8e8c;

}
#asideMenu .menuLink{    /*사이드메뉴의 글자부분*/
	text-decoration: none;
	color: #87b9b0;
	font-size: 21px;

}
.sub_menuLink, .sub_menuLink:hover{
	color: #ffffff;
	display: block;
}

/*---------------------------게시판의 메뉴부분 끝이요--------------------*/


/*------------------------게시판부분-----------------*/
#section{

	position: absolute;
	top: 0px;
	left: 282px;
	
	height: 776px;
	float: left;
	
	background-color: #ffffff;
	width: 960px;
	
}
#title{
	position: absolute;
	top: 0px;
	left: 62px;
	width: 778px;
	height: 87px;
	border-style:solid;
	border-bottom-width: 1px;
	border-color:#D9D9D9; 
	
}
#title_latest{
	position: absolute;
	top: 46px;
	left: 0px;
	font-weight: bold;
	font-size: 22px;
	color: #31D9B8;
}
#content{
	position: absolute;
	top: 127px;
	left: 62px;
	width: 778px;
	word-wrap: break-word;
	
}
.bulletin{
	width: 650px;
	height: 40px;
}
.date{
	width:200px;
}

#paging{
	position: absolute;
	left: 380px;
	top: 725px;
	font-size: 24px;
		
}
/*------------------------게시판부분-----------------*/


