{% extends "base.html" %}

{% block title %}Industry_Analysis.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/Industry_Analysis.css" %}{% endblock %}

{% block content %}

		<form id="searchbox" action="{% url 'search2' %}" method="post"> {% csrf_token %}
		
				{{form.search_word}}
			
			<input id="submit" type="image" src="{% static "photo/search.png" %}">
		</form>

	<div id="wrap">
		<div id="box">
			<div id="aside">
				<nav id="asideMenu" >
					<ul> 
						<li class="main_li">
							<a class="menuLink" href="{% url 'Issue:All' %}">All</a>
						</li> 
						<li class="main_li">
							<a class="menuLink"  href="{% url 'Issue:Consumer' %}">Consumer</a>
							<ul class="submenu">
								<li><a class="sub_menuLink" href="{% url 'Issue:Apparel' %}">Apparel</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:Auto' %}">Auto</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:Cosmetics' %}">Cosmetics</a>
								<li><a class="sub_menuLink" href="{% url 'Issue:Distribution' %}">Distribution</a>
								<li><a class="sub_menuLink" href="{% url 'Issue:Entertainment' %}">Entertainment</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:Education_Service' %}">Education Service</a>
								<li><a class="sub_menuLink" href="{% url 'Issue:Food_Beverage' %}">Food&Beverage</a>
								<li><a class="sub_menuLink" href="{% url 'Issue:Game' %}">Game</a>
								<li><a class="sub_menuLink" href="{% url 'Issue:Media' %}">Media</a>
							</ul>
						</li> 
						<li class="main_li">
							<a class="menuLink"  href="{% url 'Issue:Energy' %}">Energy</a>
							<ul class="submenu">
								<li><a class="sub_menuLink" href="{% url 'Issue:Oil&Gas' %}">Oil&Gas</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:Petrochem' %}">Petrochem</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:Solar' %}">Solar</a>
								<li><a class="sub_menuLink" href="{% url 'Issue:Utilities' %}">Utilities</a>
							</ul>
						</li> 
						<li class="main_li">
							<a class="menuLink"  href="{% url 'Issue:Financial' %}">Financials</a>
							<ul class="submenu">
								<li><a class="sub_menuLink" href="{% url 'Issue:Bank' %}">Bank</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:Insurance' %}">Insurance</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:Securities' %}">Securities</a>
								<li><a class="sub_menuLink" href="{% url 'Issue:Other_Financial_Service' %}">Other Financial Service</a>
							</ul>
						</li> 
						<li class="main_li">
							<a class="menuLink"  href="{% url 'Issue:Healthcare' %}">Healthcare</a>
							<ul class="submenu">
								<li><a class="sub_menuLink" href="{% url 'Issue:Medical_equipment' %}">Medical equipment</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:Pharmaceuticals' %}">Pharmaceuticals</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:Biotech' %}">Biotech</a>
							</ul>
						</li> 
						<li class="main_li">
							<a class="menuLink"  href="{% url 'Issue:Idustrials' %}">Industrials</a>
							<ul class="submenu">
								<li><a class="sub_menuLink" href="{% url 'Issue:Plant' %}">Plant</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:Shipbuilding' %}">Shipbuilding</a></li>
							</ul>
						</li> 
						</li> 
						<li class="main_li">
							<a class="menuLink"  href="{% url 'Issue:Materials' %}">Materials</a>
							<ul class="submenu">
								<li><a class="sub_menuLink" href="{% url 'Issue:Construction' %}">Construction</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:Steel' %}">Steel</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:Chemical' %}">Chemical</a>
							</ul>
						</li> 
						</li> 
						<li class="main_li">
							<a class="menuLink"  href="{% url 'Issue:Other' %}">Other</a>
							<ul class="submenu">
								<li><a class="sub_menuLink" href="{% url 'Issue:Conglomerates_Holdco' %}">Conglomerates/Holdco</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:Trading' %}">Trading</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:Other_other' %}">Other</a>
							</ul>
						</li> 
						<li class="main_li">
							<a class="menuLink"  href="{% url 'Issue:Tech' %}">Tech</a>
							<ul class="submenu">
								<li><a class="sub_menuLink" href="{% url 'Issue:E_commerce' %}">E-commerce</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:IT' %}">IT</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:Machinery' %}">Machinery</a>
								<li><a class="sub_menuLink" href="{% url 'Issue:Semiconductor' %}">Semiconductor</a>
								<li><a class="sub_menuLink" href="{% url 'Issue:Display' %}">Display</a>
								<li><a class="sub_menuLink" href="{% url 'Issue:Internet_Service' %}">Internet Service</a>
								<li><a class="sub_menuLink" href="{% url 'Issue:Software' %}">Software</a>
								<li><a class="sub_menuLink" href="{% url 'Issue:Tech_other' %}">Other</a>
							</ul>
						</li> 
						<li class="main_li">
							<a class="menuLink"  href="{% url 'Issue:Telecom' %}">Telecom</a>
							<ul class="submenu">
								<li><a class="sub_menuLink" href="{% url 'Issue:Telecom_Service' %}">Telecom Service</a></li>
								<li><a class="sub_menuLink" href="{% url 'Issue:Telecom_Equipment' %}">Telecom Equipment</a></li>
							</ul>
						</li> 
					</ul> 
				</nav>
			</div>

			<div id=section>
				<div id="title"><h1 id="title_latest">Insurance Industry Analysis<h1></div>
				<div id="content">
					<table cellspacing="1" width="780">
						{% load el_pagination_tags %}
						{% paginate ins_industry %}
						{% for ins_indu in ins_industry %}
							<tr>
								<td class=bulletin><a href="{% url 'Issue:detail' ins_indu.id %}" target="_blank">{{ins_indu.title}}</a></td>
								<td class=date>{{ins_indu.created_date}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
				<div id = "paging">				
				{% show_pages %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}	
 
