@import url('https://fonts.googleapis.com/css?family=Quicksand');

h1{
	font-weight: bold;
}
 

/*-------------------------콘텐츠---------------------------------*/
#wrap{
	overflow: hidden;
	width: 1920px;
	height: 1200px;
	background-color: #f5f5f5;
	position: relative;
	box-shadow: 0 2px 5px silver inset;
}
#box{
	position: absolute;
	top: 60px;
	left: 90px;
	width: 1524px;
	height: 1050px;
	background-color: #ffffff;
	box-shadow : 2px 2px 10px silver;
}

/*------------------------게시판부분-----------------*/
#all_section{

	position: absolute;
	top: 0px;
	left: 50px;
	
	height: 1000px;
	float: left;
	
	background-color: #ffffff;
	width: 1240px;
	
	

}

#company_info{
	position: absolute;
	left: 62px;
	top: 30px;
	height: 70px;
	width: 1100px;
	margin-top: 20px;
	border-style: solid;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #d9d9d9;
}
#name{
	float: left;
	font-size: 26pt;
	color: #6e6e6e;
	font-family: 'Quicksand', serif;
	margin: 0px;
}
#num{
	position: relative;
	top: 22px;
	left: 30px;
	float: left;
	font-size: 9pt;
}

#pdf_logo{
	position: relative;
	top: 22px;
	right: 15px;
	float: right;
	width: 30px;
}
/*--------게시판 메뉴들----------*/

.section{
	position: absolute;
	margin: 55px 0 0 0;
	width: 1100px;
	height: 800px;

}


#Disclosure{
	position: absolute;
	left: 62px;
	top: 100px;
	overflow: auto;
}



