<!DOCTYPE html>
<html lang="ko">
<head>
	<title>{% block tile %}{% endblock %}</title>
	{% load staticfiles %}
	<link href="{% static "css/reset.css" %}" rel="stylesheet" type="text/css" />
	<link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css" />
	<link rel = "stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />

</head>
<body>
	<div id="header">
		<a href="{% url 'home' %}"><img id="logo" src="{% static "photo/fact_logo.jpg" %}"></a>
	</div>
		<nav id="topMenu" >
			<ul> 
				<li><a class="menuLink" href="{% url 'factbook:factbook_list' %}">FACTBOOK</a></li> 
				<li><a class="menuLink" href="{% url 'Disclosure:disclosure_home' %}">COMPANY DISCLOSURE</a></li> 
				<li><a class="menuLink" href="{% url 'Analyst:Analyst_home' %}">ANALYST REPORT</a></li> 
				<li><a class="menuLink" href="{% url 'Issue:Industry_Analysis' %}">INDUSTRY INFO</a></li> 
				<li><a class="menuLink" href="{% url 'contact' %}">CONTACT</a></li> 
			</ul> 
		</nav>

		{% if user.is_active %}
		<strong id="CUR_NAME" class = "logout_sign">{% firstof user.get_short_name user.get_username %}</strong> 
		<button id="LOGOUT" class="logout_sign" type="button" onclick="location.href='{% url 'logout' %}' ">LOGOUT</a></button> 
		<button id="PASSWORD_CHANGE" class="logout_sign" type="button" onclick="location.href='{% url 'password_change' %}' ">Change Password</a></button>
		{% else %}
		<button id="LOGIN" class="login_sign" type="button" onclick="location.href='{% url 'login' %}' ">LOGIN</a></button> 
		<button id="SIGN_IN" class="login_sign" type="button" onclick="location.href='{% url 'register' %}' ">SIGN IN</a></button>
		{% endif %}
	

	{% block sidebar %}{% endblock %}

	{% block content %}{% endblock %}
	
	{% block footer %}
	<div id="footer">
		<div id ="set">
			<div id = "foot_main">
				<div id = "foot_content">				
							<img id="email_logo" src="{% static "photo/envelope.png" %}"></a>
							<p id = foot_title>d.jee@bestir.net</p>
											
						
					
							<img id="phone_logo" src="{% static "photo/phone.png" %}"></a>
							<p id = foot_title>82-2-599-3359</p>

											
							<img id="placeholder_logo" src="{% static "photo/placeholder.png" %}"></a>
							<p id = foot_title>Test-bed Center 3rd Floor <br>Koscom Building<br>
							76 Yeouinaru-ro Yeongduengpo-g<br>
							Seoul, Korea	</p>
				</div>
				<p id =copy> Copyright &copy; 2017 - BESTIR. CO. Ltd. FACTBOOK KOREA -All Rights Reserved </p>
			</div>
		</div>
		
	</div>
{% endblock %}
	
</body>
</html>
