{% extends "base.html" %}

{% block title %}logged_done.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/contact.css" %}{% endblock %}

{% block content %}

<div id="wrap">
	
	<div id="content">
		<div id="ment">
			<p>If you have any question please email us at  
d.jee@bestir.net or call us at 82-2-599-3359</p>
		</div>
		
	</div>
</div>
{% endblock %}
