{% extends "base.html" %}

{% block title %}home.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}

{% block content %}


		<form id="searchbox" action="{% url 'search' %}" method="post"> {% csrf_token %}
		
				{{form.search_word}}
			
			<input id="submit" type="submit" value="submit">
		</form>

<div id="wrap">
		<div id="aside"></div>
		
		<div id="all_section">
			<div id="section">
				<thead>
					<tr>
						
						<th scope="col" class="name">Latest Industry Analysis</th>
					</tr>
				</thead>
				<tfoot></tfoot>
				<tbody>
					<tr>
						<td scope="row">1.fff</td>
						<td scope="row">2.fkfkfk</td>
					</tr>
				</tbody>
			</div>

			<div id="section">
				<thead>
					<tr>
					
						<th scope="col" class="name">Company Disclosure</th>
					</tr>
				</thead>
				<tfoot></tfoot>
				<tbody>
					<tr>
						<td scope="row">1.fff</td>
						<td scope="row">2.fkfkfk</td>
					</tr>
				</tbody>
			</div>
			
			<div id="section">

				<thead>
					<tr>
						
						<th scope="col" class="dot">Latest Company</th>
					</tr>
				</thead>
				<tfoot></tfoot>
				<tbody>
					<tr>
						<td scope="row">1.fff</td>
						<td scope="row">2.fkfkfk</td>
					</tr>
				</tbody>
			</div>
		</div>
		<!---                                 게시판 부분(목록)                     룰루룰랄라                -->
		
	</div>
{% endblock content %}

{% block footer %}
	<div id="footer">
		&copy; FACTBOOK
	</div>
{% endblock footer %}


