<head>
	<title>profile.html</title>
	{% load staticfiles %}
	<link rel = "stylesheet" type="text/css" href={% static "css/profile.css" %} />

</head>

<div id = "wrap">
	<div id = "box">
		<div id = "logout">
			<p>Logged in as {{ user.username }}. <a href="/accounts/logout/">Logout</a></p>
		</div>
		<div id = "purchase">
			<p><b>Purchases</b></p>
		</div>
		<div id = "item_list">
			<ul>
			{% for item in list %}
			<li><a href="{% url 'item' item.resource.id %}">{{ item.resource.company.title }} - ${{ item.resource.price|floatformat:2 }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>

