{% extends "base.html" %}

{% block title %}search.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/search.css" %}{% endblock %}

{% block content %}

		<form id="searchbox" action="{% url 'search2' %}" method="post"> {% csrf_token %}
		
				<input id = id_search_word type="text" placeholder="  Type In Company Name or Ticker" maxlength="100" required="True" name="search_word">
			<input id="submit" type="image" src="{% static "photo/search.png" %}" name="find">
		</form>

<div id="wrap">
		<div id="box">
			<div id=section>
				<div id="title"><h1 id="title_latest">'{{search_term}}' Search Result<h1></div>

					<div id="content_industry">
			
						<table id="board" cellspacing="1" width="780">
						<tbody>
	
						{% for comp in company_list %}
								<tr>
									<td class=bulletin><a href="{% url 'factbook:factbook_more' comp.id %}"> {{comp.title}}</a></td>
									<td class=date>{{comp.Ticker_Number}}</td>
								</tr>
						{% endfor %}

						</tbody>
						</table>
					</div>
			</div>
		</div>
	</div>
{% endblock content %}


